# sqlite3 database for tests, just called 'memory' for some reason
memory

**/.DS_Store
*.gem
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
